:root {
    --bg-main: #EEEEEE;
    --color-mint: #6FCF97;
    --color-emerald: #2FA084;
    --color-dark: #1F6F5F;
}

body {
    background-color: var(--bg-main);
    color: var(--color-dark);
}

.custom-navbar {
    background-color: var(--bg-main);
    border-bottom: 2px solid var(--color-mint);
}

.nav-link {
    color: var(--color-dark);
    font-weight: bold;
}

h1, h2 {
    font-weight: 800;
    color: var(--color-dark);
}

.text-emerald {
    color: var(--color-emerald);
}

.btn-custom {
    background-color: var(--color-emerald);
    color: white;
    border: none;
    padding: 10px 25px;
}

.btn-custom:hover {
    background-color: var(--color-dark);
    color: white;
}

.service-card {
    border: 1px solid var(--color-mint);
    transition: transform 0.3s;
    background-color: transparent;
}

.service-card:hover {
    transform: translateY(-10px);
}

.filter-btn {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.filter-btn.active, .filter-btn:hover {
    border-bottom: 2px solid var(--color-mint);
    color: var(--color-emerald);
}